.nav {
    margin-top: 20px;
    font-family: none;
}

.nav-link {
    color: #8a8f94;
    padding: 10px 20px;
    font-size: 20px;
}

.nav-link:hover {
    color: #000;
}

nav .active {
    color: #000;
}

.body {
    background-color: white;
}

main,
main a {
    background-color: #53bd9d;
    color: white;
}

.picture {
    width: 300px;
}

i {
    color: black;
    padding: 10px;
}

h1 {
    font-family: cursive;
    font-size: 50px;
}

.tagline {
    font-family: cursive;
    font-size: 22px;
    margin-left: -48px;
    margin-top: 60px;
    line-height: 40px;
}
@media only screen and (max-width: 1220px) {
  .tagline {
         padding: 5px;
         text-align: center;
         margin:0 auto;
  }
  h1
  {
     text-align: center;
         margin:0 auto;
  }
  .profile {
    margin-top: -20px !important;
  }

  
}


.profile {
    font-size: 22px;
}

.profile .info {
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

/* skill page stylesheet */

.skills {
    padding: 20px;
}

.html {
    width: 85%;
    background-color: #8ddede;
}

.javascript,
.php {
    width: 70%;
    background-color: #8ddede;
}

.mean {
    width: 50%;
    background-color: #8ddede;
}

.circle {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 20px;
    background-color: #48aeb9;
    line-height: 110px;
    text-align: center;
}

.field {
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 112px;
    text-align: right;

}

.progress {
    height: 25px;
}



.lang {
    font-size: 18px;
    color:black;
    font-weight: bold;
}

@media only screen and (max-width: 1220px) {
    .field {
        text-align: center;
    }
    .circle {
        margin: 0 auto;
    }
}

/* resume style css*/

.project {
    margin-left: 10%;

}

.year {
    background-color: #43a5bb;
    width: 130px;
    height: 110px;
    line-height: 130px;
    /*border:1px solid red;*/
    text-align: center;
    display: inline-block;

    /*position: relative;*/
    z-index: 7;

}

.title {
    max-width: 900px;
    min-height: 122px;
    background-color: white;
    color: blue;
    display: inline-block;
    /* border:1px solid blue;*/
    margin-top: 11px;
    padding-top:8px;
    /*position: absolute;*/
    /*z-index: 3;*/
    padding-left: 35px;
    
}

.description {
    color: black;
    margin-left: 10px;
    padding-left: -5px;
    padding-top: 15px;


}

.triangle {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid grey;
    transform: rotate(43deg);
    margin-top: 1px;
    margin-left: -38px;

}


@media only screen and (max-width: 1220px) {
    .triangle {
        display: none;
    }
    .title {
        max-width: 600px;
    }
}

@media only screen and (max-width: 860px) {
    .title {
        /*margin: 0 auto;*/
        max-width: 300px;
        text-align: center;
        padding-left: 0px;
        margin-top: 0px;
    }
    .description {
        margin: : 0px;
    }
}

@media only screen and (max-width: 400px) {
    .title {
        /*margin: 0 auto;*/
        max-width: 200;
        text-align: center;
        padding-left: 0px;

    }
    .description {
        margin: 0px;
    }
}