
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: black;
}
body{
  background-color: #1abc9c;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {width: 90%; background-color: red;}
.css {width: 80%; background-color: green;}
.js {width: 75%; background-color: blue;}
.php {width: 80%; background-color: maroon;}
